.plain {
border-radius: 5px;
background-color: #FFFFFF;
}
.digi {
border-radius: 5px;
background-color: #dddddd;
}
.digi5v {
border-radius: 5px;
background-color: #ff7777;
}
.ana {
border-radius: 5px;
background-color: #f0bc62;
}
.pwm{
border-radius: 5px;
background-color: #FFB8E5;
}
.touch {
border-radius: 5px;
background-color: #E1F27E;
}
.serial {
border-radius: 5px;
background-color: #A37EF2;
}
.wire {
border-radius: 5px;
background-color: #D97EF2;
}
.spi {
border-radius: 5px;
background-color: #ddffdd;
}
.imageelement {
	background-color: #eeeeee;
}
.tdele {
	margin:2.3px;
	width:50;
}
.tdeler {
	margin:2.3px;
	width:47;
}       
.m10 {   
	margin:10px;
}
.tar { 
	padding-right:3px;
	text-align: right;
}
.m23 {
	margin:2.3px;
}
.tal {  
	text-align: left;
}
.textdim {
	color: #C0C0C0;
}
